body {
  background-color: antiquewhite;
  color: rgb(3, 4, 65);
}
h1 {
  display: block;
  text-align: center;
  border: solid 5px rgb(3, 4, 65);
  border-radius: 12px;
  background-color: cornsilk;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
p{
  display: block;
  color: rgb(3, 4, 65);
  border: solid 2px rgb(3, 4, 65);
  border-radius: 12px;
  text-align: center;
  background-color: cornsilk;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

header{
  display: block;
  border: dashed 2px rgb(3, 4, 65);
  border-radius: 8px;
  text-align: center;
  background-color:beige;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

footer{
  display: block;
  border:double 4px rgb(3, 4, 65);
  border-radius: 8px;
  text-align: center;
  background-color: bisque;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

a{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: rgb(3, 4, 65);
  border: solid 2px rgb(3, 4, 65);
  border-radius: 8px;
  padding: 15px;
  background-color: cornsilk;
  width: 35px;
  text-align: center;
}
a:hover{
  background-color: dimgray;
}